.portfolio-title2{
    padding:80px;
    text-align: center;
}
.portfolio-title2 h2{
    font-size: 55px;
}
.portfolio-title2 h3{
    text-align:center;
    font-size: 18px;
}
.contato{
    font-size: 18px;
}
.num{
    font-size: 15px;
    margin-top:-22px;
}