nav {
  ul {
    display: flex;
  }

  li {
    padding: 0px 10px;
    a {
      color: $black;
      font-weight: 700;
      font-size: 16px;
      @include poppins;
    }
  }
}

@media screen and (max-width: 795px) {
  header {
    .container {
      justify-content: center;
    }
  }

  nav {
    ul {
      justify-content: center;
    }
  }
}
